<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card profile-card-3">
            <div class="background-block">
              <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
            </div>
            <div class="profile-thumb-block">
                <img [src]="model.thumbnailPicUrl" alt="profile-image" class="profile"/>
            </div>
            <div class="card-content">
                <h3>{{placeholder}}</h3>
                <div class="icon-block">
                  <a href="#"><i class="bi-file-person" (mouseover)="changePlaceholder(model.completeName, 'person')"></i></a>
                  <a href="#"><i class="bi-map" (mouseover)="changePlaceholder(model.address, 'map')"></i></a>
                  <a href="#"><i class="bi-mailbox" (mouseover)="changePlaceholder(model.email, 'email')"></i></a>
                  <a href="#"><i class="bi-calendar3" (mouseover)="changePlaceholder(model.birthDate, 'birthDate')"></i></a>
                  <a href="#"><i class="bi-telephone" (mouseover)="changePlaceholder(model.phoneNumber, 'phone')"></i></a>
                  <a href="#"><i class="bi-lock" (mouseover)="changePlaceholder(model.password, 'password')"></i></a></div>
                </div>
            </div>
            <!-- <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p> -->
      </div>
    </div>
  </div>
</section>
